In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv("../data/data_draw_korea.csv")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# data.tail
# data.sample(3) #랜덤으로 나옴
# data.info
# data.describe()
# data['광역시도'].unique()
#
# print('인구수 최대값 ',data['인구수'].max())
# print('인구수 최소값 ',data['인구수'].min())
# print('인구수 평균값 ',data['인구수'].mean())
# print('인구수 표준편차값 ',data['인구수'].std())

data.loc[data['광역시도']=='서울특별시'].sort_values(by='인구수', ascending=False).reset_index(drop=True)

In [ ]:
def chk(state_name):
    print(f"{state_name}의 평균 = {data.loc[data['광역시도']==state_name,'인구수'].mean()}")
    print(f"{state_name}의 표준편차 = {data.loc[data['광역시도']==state_name,'인구수'].std()}\n")

chk("서울특별시")
chk("강원도")
chk("경기도")

In [ ]:
data.loc[data['광역시도']=='경상북도',['행정구역','인구수','면적']].sort_values(by='인구수', ascending=False).reset_index(drop=True)

In [ ]:
import pandas as pd

peopleMean = (data['인구수']).mean()
pop_mean_lt_df = data.loc[data['인구수']<peopleMean,'인구수':'행정구역'].sort_values(by='인구수').reset_index(drop=True)
pop_mean_lt_df.to_excel('../data/평균인구수미만지역.xlsx')

In [ ]:
data = data.rename(columns={'Unnamed: 0':'seq'})
# data = data.set_index('seq')
data.head()

In [ ]:
data.loc[data['광역시도']=='경기도',['행정구역','인구수']].sort_values(by='인구수',ascending=False).head()

In [ ]:
pop_max_value = data.loc[data['광역시도']=='경기도','인구수'].max()
pop_max_value

In [ ]:
tempdata = data.loc[(data['광역시도']=='경기도') &(data['인구수']==pop_max_value),['광역시도','행정구역','인구수']]
tempdata

In [ ]:
def Max_Place(name):
    pop_max_value = data.loc[data['광역시도']==name,'인구수'].max()
    # pop_max_value
    result = data.loc[(data['광역시도']==name) &(data['인구수']==pop_max_value),['광역시도','행정구역','인구수']]
    return result

pop_max_value_df = pd.DataFrame(columns=['광역시도','행정구역','인구수'])
for cur in data['광역시도'].unique():
    pop_max_value_df = pop_max_value_df.append(Max_Place(cur))
pop_max_value_df

In [ ]:
def Max_Area(name):
    pop_max_value = data.loc[data['광역시도']==name,'면적'].max()
    # print(pop_max_value)
    result = data.loc[(data['광역시도']==name) &(data['면적']==pop_max_value),['광역시도','행정구역','면적']]
    return result

pop_max_area_df = pd.DataFrame(columns=['광역시도','행정구역','면적'])
for cur in data['광역시도'].unique():
    pop_max_area_df = pop_max_area_df.append(Max_Area(cur))
print(pop_max_area_df)

In [ ]:
#전체행정구역의 면적과 인구수의 상관계수 구하기
data['면적'].corr(data['인구수'])
#서울특별시의 면적과 인구수의 상관계수 구하기
seoul_df = data.loc[data['광역시도'] == '서울특별시']
seoul_df['면적'].corr(seoul_df['인구수'])
print(seoul_df)

In [ ]:
print(type(data["행정구역"]))
print(type(data[["행정구역","인구수"]]))
print(type(data.loc[0]))
print(type(data.loc[0:2]))

In [ ]:
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending=False)

In [ ]:
data.groupby('광역시도')['인구수'].sum()

In [ ]:
group_by_df = data.groupby(['광역시도','행정구역'])['인구수'].sum()
group_by_df.to_excel('../data/광역시도별행정구역별인구수의합계.xlsx', sheet_name='인구수')

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('../data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
group_by_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
num_format = workbook.add_format({'num_format': '#,###'})
worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [ ]:
group_agg_df = data.groupby('광역시도')['인구수'].agg(['max','mean','std']).fillna(0).sort_values(by='std',ascending=False)
group_agg_df.head(3)

In [ ]:
group_agg_df.style.format('{0:.2f}')

In [ ]:
group_agg_df.T

In [ ]:
%matplotlib inline

In [ ]:

import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

import seaborn as sns

[(font.name, font.fname)for font in fm.fontManager.ttflist if 'Ma' in font.name] #맥북은 'Ap'

In [ ]:
font_path = 'C:\\Windows\\Fonts\\malgun.ttf'
font_prop = fm.FontProperties(fname=font_path).get_name()
print(font_prop)
matplotlib.rc('font',family = font_prop)

In [ ]:
figure,(axes1, axes2) = plt.subplots(nrows=2, ncols=1)
print(figure)
print(axes1)
print(axes2)
sns.barplot(x='행정구역', y='인구수', data = seoul_df.sort_values(by='인구수', ascending=False), ax=axes1)
sns.barplot(x='행정구역', y='면적', data = seoul_df.sort_values(by='면적', ascending=False), ax=axes2)

In [ ]:
def name_graph(name):
    temp = data.loc[data["광역시도"]==name]
    figure,(axes1, axes2) = plt.subplots(nrows=2, ncols=1)
    print(figure)
    print(axes1)
    print(axes2)
    sns.barplot(x='행정구역', y='인구수', data = temp.sort_values(by='인구수', ascending=False), ax=axes1)
    sns.barplot(x='행정구역', y='면적', data = temp.sort_values(by='면적', ascending=False), ax=axes2)

# for cur in data["광역시도"].unique():
#     name_graph(cur)

In [ ]:
figure, axes1 = plt.subplots(nrows=1, ncols=1)
figure.set_size_inches(18,12)
sns.barplot(x='광역시도', y='인구수', data=data, ax=axes1)

In [ ]:
figure, ax1 = plt.subplots(nrows=1, ncols=1)
figure.set_size_inches(18,12)
sns.barplot(data=seoul_df, x="행정구역", y="인구수", ax=ax1)
ax1.get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))
ax1.set(ylabel='인구수')
for item in ax1.get_xticklabels():
    item.set_rotation(90)
for i, v in enumerate(seoul_df["인구수"].iteritems()):
    ax1.text(i ,v[1], "{:,}".format(v[1]), color='m', va ='bottom', rotation=45)
plt.tight_layout()

In [176]:
import numpy as np
import pandas as pd

def temp_method(name):
    temp = data.loc[data['광역시도']==name]
    max_people = temp['인구수'].max()
    max_area = temp['면적'].max()

    result = temp.loc[(temp['인구수'] == max_people) | (temp['면적'] == max_area),['광역시도','인구수','면적','행정구역']]
    return result

pop_max_place = pd.DataFrame(columns=['광역시도','인구수','면적','행정구역'])
for cur in data['광역시도'].unique():
    pop_max_place = pop_max_place.append(temp_method(cur))
pop_max_place.index = np.arange(1,len(pop_max_place)+1)
pop_max_place

       광역시도      인구수       면적  행정구역
1       강원도   313851   867.30   원주시
2       강원도    62957  1817.94   홍천군
3       경기도  1125461   121.09   수원시
4       경기도    95614   877.08   양평군
5      경상남도  1010040   734.87   창원시
6      경상남도    42515   983.42   합천군
7      경상북도   157317  1519.00   안동시
8      경상북도   488395  1127.00   포항시
9     광주광역시   389386   222.88   광산구
10    광주광역시   439683   121.74    북구
11    대구광역시   584517    62.30   달서구
12    대구광역시   178203   427.03   달성군
13    대전광역시   475094    95.25    서구
14    대전광역시   321618   177.16   유성구
15    부산광역시   142223   217.90   기장군
16    부산광역시   397134    51.44  해운대구
17    서울특별시   407416    47.04   서초구
18    서울특별시   615487    33.90   송파구
19  세종특별자치시   191233   465.23   세종시
20    울산광역시   327270    72.11    남구
21    울산광역시   203232   754.93   울주군
22    인천광역시    58296   411.20   강화군
23    인천광역시   527153    32.00   부평구
24     전라남도   254751   907.35   순천시
25     전라남도   263166   501.30   여수시
26     전라북도    87465   821.00   완주군
27     전라북도   630708   206.45   전주시
28  제주특별자치도   430504   977.80   제주시
29     충청남도   102371   940.71   공주시
30     충청남도   584912   636.50   천안시
31     충청북도   790216   932.51   청주시
32     충청북도   198077   983.70   충주시

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
def temp_method2(name):
    temp = data.loc[data['광역시도']==name]
    return temp['면적'].corr(temp['인구수'])
# print(temp_method2('경기도'))
pop_corr_city_df = pd.DataFrame(columns=['광역시도','상관계수'])
for sido_name in data['광역시도'].unique():
    pop_corr_city_df = pop_corr_city_df.append({'광역시도' : sido_name,'상관계수' : temp_method2(sido_name)},ignore_index=True)
pop_corr_city_df.fillna(0,inplace=True)
pop_corr_city_df

       광역시도      상관계수
0       강원도 -0.003425
1       경기도 -0.215725
2      경상남도  0.029952
3      경상북도  0.205930
4     광주광역시  0.676929
5     대구광역시 -0.057946
6     대전광역시  0.199716
7     부산광역시 -0.138237
8     서울특별시  0.664427
9   세종특별자치시  0.000000
10    울산광역시 -0.134357
11    인천광역시 -0.457143
12     전라남도 -0.057869
13     전라북도 -0.695805
14  제주특별자치도  1.000000
15     충청남도  0.272964
16     충청북도  0.411067

In [10]:
corr_df2 = pd.DataFrame(columns=['광역시도','상관계수'])
corr_df2['광역시도'] = data['광역시도'].unique()
corr_df2['상관계수'] = corr_df2['광역시도'].map(temp_method2)
corr_df2.fillna(0,inplace=True)
corr_df2

       광역시도      상관계수
0       강원도 -0.003425
1       경기도 -0.215725
2      경상남도  0.029952
3      경상북도  0.205930
4     광주광역시  0.676929
5     대구광역시 -0.057946
6     대전광역시  0.199716
7     부산광역시 -0.138237
8     서울특별시  0.664427
9   세종특별자치시  0.000000
10    울산광역시 -0.134357
11    인천광역시 -0.457143
12     전라남도 -0.057869
13     전라북도 -0.695805
14  제주특별자치도  1.000000
15     충청남도  0.272964
16     충청북도  0.411067

In [1]:
# temp_df = data.groupby(data['광역시도'])['인구수','면적'].agg(['sum'])
# temp_df['인구수'].reset_index('광역시도')

In [2]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm

import seaborn as sns

In [4]:
font_path = 'C:\\Windows\\Fonts\\malgun.ttf'
font_prop = fm.FontProperties(fname=font_path).get_name()
print(font_prop)
matplotlib.rc('font',family = font_prop)

Malgun Gothic