In [3]:
import pandas as pd

data = pd.read_csv("../data/data_draw_korea.csv")
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [14]:
# data.tail
# data.sample(3) #랜덤으로 나옴
# data.info
# data.describe()
# data['광역시도'].unique()
#
# print('인구수 최대값 ',data['인구수'].max())
# print('인구수 최소값 ',data['인구수'].min())
# print('인구수 평균값 ',data['인구수'].mean())
# print('인구수 표준편차값 ',data['인구수'].std())

data.loc[data['광역시도']=='서울특별시'].sort_values(by='인구수', ascending=False).reset_index(drop=True)

    Unnamed: 0     인구수 shortName  x  y     면적   광역시도  행정구역
0          141  615487      서울송파  8  6  33.90  서울특별시   송파구
1          127  554709      서울강서  4  4  41.40  서울특별시   강서구
2          132  547202      서울노원  6  1  35.44  서울특별시   노원구
3          124  526157      서울강남  6  7  39.50  서울특별시   강남구
4          128  484478      서울관악  5  6  29.60  서울특별시   관악구
5          145  464236      서울은평  4  3  29.70  서울특별시   은평구
6          142  453634      서울양천  4  5  17.40  서울특별시   양천구
7          140  434061      서울성북  6  2  24.57  서울특별시   성북구
8          125  432028      서울강동  8  5  24.60  서울특별시   강동구
9          138  407416      서울서초  6  6  47.04  서울특별시   서초구
10         130  401233      서울구로  4  7  20.11  서울특별시   구로구
11         148  391655      서울중랑  8  4  18.50  서울특별시   중랑구
12         135  383917      서울동작  5  5  16.36  서울특별시   동작구
13         136  364232      서울마포  5  4  23.87  서울특별시   마포구
14         143  351837     서울영등포  4  6  24.56  서울특별시  영등포구
15         129  342909      서울광진  7  6  17.05  서울특별시   광진구
16         134  342429     서울동대문  7  4  14.20  서울특별시  동대문구
17         133  331682      서울도봉  5  1  20.80  서울특별시   도봉구
18         126  310292      서울강북  5  2  23.60  서울특별시   강북구
19         137  288543     서울서대문  5  3  17.60  서울특별시  서대문구
20         139  279939      서울성동  7  5  16.85  서울특별시   성동구
21         131  222566      서울금천  5  7  13.01  서울특별시   금천구
22         144  208603      서울용산  6  5  21.87  서울특별시   용산구
23         146  140595      서울종로  6  3  23.90  서울특별시   종로구
24         147  114967      서울중구  6  4   9.96  서울특별시    중구

In [23]:
def chk(state_name):
    print(f"{state_name}의 평균 = {data.loc[data['광역시도']==state_name,'인구수'].mean()}")
    print(f"{state_name}의 표준편차 = {data.loc[data['광역시도']==state_name,'인구수'].std()}")

chk("서울특별시")
chk("강원도")
chk("경기도")

서울특별시의 평균 = 375792.28
서울특별시의 표준편차 = 125231.24797500289
강원도의 평균 = 79413.22222222222
강원도의 표준편차 = 87316.38323837094
경기도의 평균 = 378845.48387096776
경기도의 표준편차 = 304548.39514203876